# MikroTik Router Connection
ROUTER_IP=10.10.10.1
ROUTER_USER=admin
ROUTER_PASS=changeme
ROUTER_PROTOCOL=https
# Set to 'true' to skip SSL certificate verification (self-signed certs)
ROUTER_SKIP_TLS_VERIFY=true

# Dashboard Server
PORT=3000
