# MikroTik Router Connection
ROUTER_IP=10.10.10.1:8081
ROUTER_PROTOCOL=http
ROUTER_USER=admin
ROUTER_PASS=your_router_password
# Set to 'true' to skip SSL certificate verification (in case you use https with self-signed certs)
ROUTER_SKIP_TLS_VERIFY=true

# Dashboard Server Port
PORT=3000

# Dashboard Web Login Credentials (Required to protect the dashboard interface)
DASHBOARD_USER=admin
DASHBOARD_PASS=your_dashboard_secret
